<!DOCTYPE html>
<html>
<head>
	<title>Product Name</title>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="assets/css/bootstrap.min.css"> 
  	<script type="text/javascript" src="assets/js/jquery-2.1.4.min.js"></script>
  	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  	<link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
  	<link href="assets/css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
  	<link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<a href="/logout">LOGOUT</a>
<div class="container">
	<div class="row">
		<div class="col-md-1">
			Logo
		</div>
		<div class="col-md-7">
			<form>
				<input type="text" name="search" placeholder="Search Flipbook">
			</form>
		</div>
		<div class="col-md-4">
			<div class="col-md-4">
				<a href="login">login/signup</a>
			</div>
			<div class="col-md-4">
				notify
			</div>
			<div class="col-md-4">
				cart
			</div>
		</div>
	</div>
	<div class="row">
		<nav class="navbar navbar-default navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
					<span class="sr-only">
					  Toggle only
					</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="collapse">
					<ul class="nav navbar-nav">
						<li ><a class="btn " role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" >catagory</a></li>
						<li><a class="btn " role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">catagory</a></li>
						<li><a class="btn " role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">catagory</a></li>
						<li><a class="btn " role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">catagory</a></li>
						<li><a class="btn " role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">catagory</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="row">
		<div class="collapse" id="collapseExample">
            		<div class="well greybg">
            			<h1>Form</h1>
            		</div>
          			</div>
	</div>
	<div class="row" >


	<!--
		<div class ="col-md-4">
			<img src="/show?pid={{pid}}" class="img-responsive img-thumbnail">
		</div>
		<div class="col-md-8">
			<div class="row">
				{{cursor.name}}
			</div>
			<div class="row">
				<div class="row">
					Rs. {{cursor.price}}
				</div>
				<div class="row">
					<button>
						<a href="/showcart">Add to cart</a>
					</button>
				</div>
			</div>
		</div>
	-->
		
		    <form class="form-signin" method="POST" action="/showcart?pid={{pid}}">
		        

		        <div class ="col-md-4">
					<img src="/show?pid={{pid}}" class="img-responsive img-thumbnail">
				</div>
				<div class="col-md-8">
					<div class="row">
						{{cursor.name}}
					</div>
					<div class="row">
						<div class="row">
							Rs. {{cursor.price}}
						</div>
						<div class="row">
							<input type="text" name="quantity" placeholder="quantity" value="{{quantity}}">
						</div>
						<div class="row">
							<button name="submit" class="btn btn-lg btn-info" type="submit">
								Add to cart
							</button>
						</div>
					</div>
				</div>
		    </form> 
		

	</div>
	<div class="row">
		{{cursor.info}}
	</div>
	<div class="row">
		<div class="container">
		    <form class="form-signin col-sm-4 col-sm-offset-4" method="POST">
		        <h2 class="form-signin-heading text-center" style="color:yellow">
		        	Your Query
		        </h2>
		        <div class="form-group">
			        <label class="sr-only">
			        	Query
			        </label>
			        <div >
			        	<textarea class="form-control" placeholder="Type your Query" required name="query"></textarea> 
			        </div>
			    </div>
			    <div class="row">
				    <div>    
				        <button name="submit" class="btn btn-lg btn-info btn-block" type="submit">
				        	Submit Query
				        </button>
				    </div>
				</div>
		      </form> 
		</div>
	</div>
	<div class="row">
		<div class="container">
		    <form class="form-signin col-sm-4 col-sm-offset-4" method="POST">
		        <h2 class="form-signin-heading text-center" style="color:yellow">
		        	Your Review
		        </h2>
		        <div class="form-group">
			        <label class="sr-only">
			        	Review
			        </label>
			        <div >
			        	<textarea class="form-control" placeholder="Type your review" required name="review"></textarea> 
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="sr-only">
			        	Rating
			        </label>
			        <div >
			        	<textarea class="form-control" placeholder="It Will be Replaced by stars" required name="rating"></textarea> 
			        </div>
			    </div>
			    <div class="row">
				    <div>    
				        <button name="submit" class="btn btn-lg btn-info btn-block" type="submit">
				        	Submit
				        </button>
				    </div>
				</div>
		      </form> 
		</div>
	</div>
	<div class="row">
		{%for c in cursorQuery%}
			{%if c.product_id.key()==condition%}
			<a href="/answer?qid={{c.key().id()}}">{{c.question}}</a>
			{%endif%}
		{%endfor%}
	</div>
	<div class="row">
		recommendation
	</div>

</div>
</body>
</html>